<style>
  #footer {
    font-size: 16px;
    padding: 0.5rem 0.5rem;
    text-align: start;
  }
  #footer p {
    margin: 0;
  }
</style>
<p><i class="fab fa-github fa-1x"></i> <a href="https://github.com/ErikNgigi">Github</a> </p>
<p><i class="fab fa-instagram-square fa-1x"></i> <a href="https://instagram.com/erikngigi">Instagram</a> </p>
<p><i class="fab fa-linkedin fa-1x"></i> <a href="https://www.linkedin.com/in/eric-ngigi-073b72153">Linkedin</a> </p>
<p><i class="fab fa-twitter fa-1x"></i> <a href="https://twitter/erikngigi">Twitter</a> </p>
<p><i class="fas fa-at fa-1x"></i> <a href="https://ericmosesngigi@gmail.com">Gmail</a> </p>
